altgraph==0.17
docx==0.2.4
docxcompose==1.3.2
docxtpl==0.11.5
fbs==0.9.6
future==0.18.2
Jinja2==3.0.1
lxml==4.6.3
macholib==1.14
MarkupSafe==2.0.1
numpy==1.21.0
pandas==1.3.0
peewee==3.14.4
pefile==2021.5.24
Pillow==8.3.1
PyInstaller==3.4
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2021.1
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.2
six==1.16.0
