
QWidget {
    background-color:qlineargradient(x1: 0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #303030);
    opacity: 0.2;
    margin: 5;
    padding: 0;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}


WindowTabl {
    padding: 200px 200px;
    margin: 0;
}

QPushButton {
    color: #333;
    background-color: qlineargradient(x1: 0, y1:0, x2:1, y2:1, stop:0 white, stop: 0.3 #4dff4d, stop:1 #008000);
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5%;
    border-style: outset;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    padding: 10px 5px;
    margin: 5;
}
QToolTip { 
    color: #ffffff; 
    background-color:  #333;
    border: 1px solid  #013501; 
}
.QPushButton:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #04cc04, stop: 1 #013501);
    color: #fff;
}

.QPushButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #002800, stop: 1 #00f500);
}

QLabel {
    font-size: 24px;
    background-color: rgba(1,1,1,0);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

QMessageBox {
    background-color: rgba(1,1,1,1);
    background-image: url(data/error.png);
    background-position: top;
    background-clip: border-box;
}

QTableWidget {
    background-color: rgba(1,1,1,0);
    color: #fff;
    border-bottom: 1px solid rgb(0,0,0);
    border-left: 1px solid rgb(0,0,0);
    text-align: center;
}
QTableView::item {
    border-style: none;
    border-bottom: 1px solid rgb(0,0,0);
    border-left: 1px solid rgb(0,0,0);
    text-align: center;
}

QTableWidget::item:selected {
    background-color:  qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #04cc04, stop: 1 #039c03); 
}

QHeaderView::section:horizontal {
    color: #fff;
    border-style: solid;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #013501, stop: 1 #008000);
}

 QHeaderView::section:vertical {
    color: #fff;
    border-style: solid;
    background-color: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0, stop: 0 #013501, stop: 1 #008000);
}

QHeaderView::section{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #168700, stop: 1 #28f000);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

QHeaderView::section:hover {
    background-color: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0, stop: 0 #015201, stop: 1 #02e802);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

QHeaderView::section:checked {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #f7ff99, stop: 1 #333333);
    color: black;
}

QScrollBar {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #5e6600, stop: 1 #008000);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 3px solid green;
    min-width: 10px;
}

.QScrollBar:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #013501, stop: 1 #008000);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    min-width: 10px;
    border: 3px solid green; 
}

QLineEdit {
    background: rgb(166, 222, 173);
    border: 2px solid gray;
    border-radius: 10px;
}

Form {
    padding: 100px 100px;
}

QCheckBox {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    background-color: rgba(1,1,1,0);
}

QCheckBox::indicator {
    background-color: rgb(255, 255, 255);
}

QCheckBox::indicator:checked {
    background-color: rgb(1, 53, 1);
    border: 3px solid;
    border-color: white;
}
